body {
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));
    background-size: cover;
  }
  .head{
    font-size: 35px;
  }

  .calculator {
    display: grid;
    grid-template-columns: 4;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    padding: 10px;
    background-color:#071115;
    height: 480px;
    /* box-shadow: 0 0 0 30px #000; */
  }
  
  #display {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    padding: 5px;
    min-height: 40px;
    width: 290px;
    
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
  }
  
  button {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #aaa;
    border-radius: 60%;
    background-color: #cce6e6;
    padding: 5px;
  }
  .button{
    column-span: 3;
  }
  .double{
    grid-row: 4/6;
    grid-column: 4/5;
    border-radius: 200px;
    background-color: orange;
  }
  .dark{
    background-color: gray;
  }
